@import url('https://fonts.cdnfonts.com/css/satoshi');
*{
    margin: 0;
    box-sizing: border-box;                            
  }
  
  a{
    text-decoration: none;
  }
  button{
    outline: 0;
    border: 0;
    cursor: pointer;
  }
  :root{
    --head-font: Clash Display;
    --minor-font: 'Satoshi', sans-serif;
  }
  body{
    background: #010101;
    border: 2px solid #fff;
  }
  html,body{
    width: 100%;
    overflow-x: hidden;
  }
  img{
    object-fit: cover;
  }