*{
    margin: 0;
    box-sizing: border-box;                            
  }
  
  a{
    text-decoration: none;
  }
  button{
    outline: 0;
    border: 0;
    cursor: pointer;
  }
  :root{
    --head-font: 'Plus Jakarta Sans Variable', sans-serif;
    --minor-font: 'Plus Jakarta Sans Variable', sans-serif;
  }
  body{
    background: #010101;
  }
  html,body{
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  img{
    object-fit: cover;
  }